/* * {
  outline: red solid 1px;
} */

html {
  font-family: serif;
  font-size: 16px;
  text-align: center;
}

.grid {
  display: grid;
  max-width: 1024px;
  height: 1920px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(60, 1fr);
  grid-row-gap: 10px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-family: cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
}

h4 {
  font-size: 1.25rem;
}

header {
  grid-area: 1 / 1 / span 2 / span 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

#links {
  display: inline-flex;
  width: 384px;
  justify-content: space-between;
  text-decoration: underline;
  font-size: 1.5rem;
}

#about {
  grid-area: 3 / 1 / span 12 / span 8;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-image: url(../images/spooky-moon.jpg);
  align-items: center;
  background-size: cover;
  background-position: center
}

#box {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 0px;
  width: 80%;
  margin: 0 auto;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.images img {
  max-height: 100%;
  height: auto;
  max-width: 254px;
}

#images1 {
  grid-area: 15 / 1 / span 7 / span 8;
}

#events {
  grid-area: 22 / 1 / span 5 / span 8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#left-list {
  text-align: left;
  line-height: 1.5rem;
}

#images2 {
  grid-area: 27 / 1 / span 7 / span 8;
}

#media {
  grid-area: 34 / 1 / span 14 / span 8;
  display: block;
  align-items: center;
}

#media-items {
  height: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#media-items figure {
  max-height: 50%;
  max-width: 204px;
}

#media-items img {
  height: 80%;
}


#media-items figcaption {
  font-size: 0.75rem;
}

#images3 {
  grid-area: 49 / 1 / span 7 / span 8;
}

#join {
  grid-area: 56 / 1 / span 4 / span 8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  grid-area: 60 / 1 / span 1 / span 8;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

@media only screen and (max-width: 500px) {
  header {
    justify-content: center;
  }
  #links {
    display: none;
  }

  #about h2 {
    display: none;
  }

  .hide {
    display: none;
  }

  #events {
    display: block;
    line-height: 1rem;
  }

  #events li {
    margin: 0 2%;
  }

  #events h2 {
    font-size: 1.2rem;
  }

  #media-items figure {
    width: 100%;
    height: 10%;
  }

  #join h2 {
    font-size: 1.5rem;
  }

}
